@model IEnumerable<EventManager.ViewModels.EventsViewModel>

@{
    ViewBag.Title = "All Events";
    Layout = "~/Views/Shared/_EventLayout.cshtml";

}


    @section Sidebar{
        <nav id="sidebar" data-spy="affix" style="background-color:#151827; max-width:200px; min-height:100%">
            <!-- Sidebar Links -->
            <ul class="list-unstyled components">
                <li id="calendarSideBarButton"><a href="/Events/CalendarView" onclick="">Calendar View</a></li>
                <li>
                    <a aria-expanded="false" class="active" href="#eventManagementSubMenu" data-toggle="collapse">List Views</a>
                    <ul class="list-unstyled" id="eventManagementSubMenu">
                        <li id="eventSideBarAll" class="active"><a href="/Events/AllEvents">Show All</a></li>
                        <li id="eventSideBarOwnedByUser"><a href="/Events/UserEvents">My Events</a></li>
                        <li id="registrationsSideBarPending"><a href="#">Find</a></li>
                        <li id="registrationsSideBarStandby"><a href="#">TBD</a></li>
                        <li id="registrationsSideBarDeclined"><a href="#">TBD</a></li>
                        <li id="registrationsSideBarDeleted"><a href="#">TBD</a></li>
                    </ul>
            </ul>
        </nav>}

<h2>View/Edit Events</h2>
<p>
    <a style="color:blue; text-decoration:underline; cursor:pointer" onclick="OpenAddEventForm()">Create New Event</a>
</p>
<div class="container-fluid" id="AvailableEvents">
    <div class="col-xs-10 col-sm-10">
        @foreach (var item in Model)
        {
            var detailsRowID = "detailsRow" + item.EventID;
            var showDetailsButton = "showDetails" + item.EventID;
            var toggleID = "toggle" + item.EventID;
            var d = Convert.ToString(item.StartTime);
            DateTime dt = Convert.ToDateTime(d);

            <div id="@item.EventID" class="fakeTable">
                <div class="fakeTable-row">
                    <div class="fakeTable-cell-icon-left"
                         onClick="ShowDetails(@item.EventID)"
                         data-toggle="popover"
                         data-trigger="hover"
                         data-placement="bottom"
                         data-content="Show Event Details">
                        <span class="glyphicon glyphicon-calendar fakeTable-icon"></span>
                    </div>
                    <div class="fakeTable-cell" style="width:400px; vertical-align:middle">
                        <a href="#" onclick="ShowDetails(@item.EventID)">@item.EventName</a>
                        <p style="margin-bottom:0px">@dt.ToLongDateString()</p>
                    </div>
                    <div class="fakeTable-cell" style="vertical-align:middle; text-align:center">
                        <span style="text-decoration:underline; font-weight:bold">Total Hours:</span>
                        <p style="margin-bottom:0px">@item.TotalHours</p>
                    </div>
                    <div class="fakeTable-cell" style="vertical-align:middle; text-align:center">
                        <span style="text-decoration:underline; font-weight:bold">Available Positions:</span>
                        <p style="margin-bottom:0px">@item.AvailableStaff</p>
                    </div>
                    <div class="fakeTable-cell-icon"
                         onClick="ShowDetails(@item.EventID)"
                         data-toggle="popover"
                         data-trigger="hover"
                         data-placement="bottom"
                         data-content="Show/Hide Event Details">
                        <span id="@toggleID" class="glyphicon glyphicon-download fakeTable-icon"
                              style="color:Highlight;">
                        </span>
                    </div>
                    

@if (item.EventOwnerID == Convert.ToInt32(TempData["pageUser"]))
{
                        <div class="fakeTable-cell-icon-right">
                            <div class="fakeTable-cell-icon"
                                 onClick="OpenEditForm(@item.EventID)"
                                 data-toggle="popover"
                                 data-trigger="hover"
                                 data-placement="bottom"
                                 data-content="Edit this event">
                                <span class="glyphicon glyphicon-edit fakeTable-icon"
                                      style="color:#099b15; font-weight:100"></span>
                            </div>
                        </div>
}
                </div>
                <div id="@detailsRowID" class="fakeTable-details-row">
                    <div class="fakeTable-cell-icon-left" style="background-color:#ffffff; width:5%">
                        <span class="glyphicon glyphicon fakeTable-icon"></span>
                    </div>
                    <div class="fakeTable-cell" style="background-color:#d3d3d3; width:25%">
                        <span style="text-decoration:underline; font-weight:bold">Event Times:</span>
                        <p style="margin-bottom:0px">@item.StartTime to @item.EndTime</p>
                    </div>
                    <div class="fakeTable-cell" style="background-color:#d3d3d3;">
                        <span style="text-decoration:underline; font-weight:bold">Description:</span>
                        <p style="margin-bottom:0px">@item.Description</p>
                    </div>
                    <div class="fakeTable-cell" style="background-color:#d3d3d3;">
                        <span style="text-decoration:underline; font-weight:bold">Event Coordinator:</span>
                        <p style="margin-bottom:0px">@item.EventOwner/@item.EventOwnerEmail</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function(){
            if ("@TempData["Message"]" != "") {
                ShowMessageModal("@TempData["Message"]", "@TempData["Status"]");
            }
            updateTime();
        });

        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
        function OpenViewForm(id) {
            var eventDetails = [];
            console.log("open form called with id: " + id);
            $.ajax({
                type: "GET",
                url: "/events/GetEventDetails",
                cache: false,
                data: { 'id': id },
                success: function (data) {
                    $('#hdEventID').val(data.EventID);
                    $('#hdEnteredBy').val(data.EnteredBy);
                    $('#txtEventName').val(data.EventName);
                    $('#txtStart').val(moment(data.StartTime).format("MM/DD/YYYY HH:mm"));
                    $('#txtEnd').val(moment(data.EndTime).format("MM/DD/YYYY HH:mm"));
                    $('#txtDescription').val(data.Description);
                    $('#txtminStaff').val(data.MinStaff);
                    $('#txtmaxStaff').val(data.MaxStaff);
                    $('#txtFundCenter').val(data.FundCenter);
                    $('#innerColorDiv').css('background-color', data.DisplayColor);
                    $('#eventColor').val(data.DisplayColor);
                    console.log(data);
                    $('#eventModal').modal();
                    $('#checkboxgroup').hide();
                    $('#repeatMenu').hide();
                    $('#eventModal :input').prop("disabled", true);
                    $('#btnSave').hide();
                    $('#btnClose').prop("disabled", false);


                },
                error: function (error) {
                    alert('Failed to find event');
                }
            })

        }
        function ShowDetails(id) {
            var detailsSection = "detailsRow" + id;

            if ($('#' + detailsSection).is(":visible")) {
                $('#' + detailsSection).hide();
                $('#toggle' + id).removeClass('glyphicon-upload');
                $('#toggle' + id).addClass('glyphicon-download');
                $('#' + id).toggleClass("fakeTable", true);
                $('#' + id).toggleClass("fakeTableSelected", false);

            }
            else {
                $('#' + detailsSection).show();
                $('#toggle' + id).removeClass('glyphicon-download');
                $('#toggle' + id).addClass('glyphicon-upload');
                $('#' + id).toggleClass("fakeTable", false);
                $('#' + id).toggleClass("fakeTableSelected", true);
            }
        }
    </script>}
