@model EventManager.Event

@{
    ViewBag.Title = "Details";
}

<h2></h2>
<div class="well col-sm-6 col-sm-offset-1" style="padding:0px">
    <div class="well-card">
        <div class="form-horizontal">
            <div class="well" style="margin-bottom:0px; background-color:#151827; color:#fff; border-bottom-left-radius:0px; border-bottom-right-radius:0px">
            <h2>Details</h2></div>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Event Name:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EventName)
                    </dd>

                    <dt>
                        Start Date/Time:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartTime)
                    </dd>

                    <dt>
                        End Date/Time:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndTime)
                    </dd>

                    <dt>
                        Description:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        Max Staffing:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxStaff)
                    </dd>

                    <dt>
                        Min Staffing:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MinStaff)
                    </dd>

                    <dt>
                        Fund Center:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FundCenter)
                    </dd>

                    <dt>
                        Entered By:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.User.LDAPName)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>
