@model IEnumerable<EventManager.Event>

@{
    ViewBag.Title = "Index";
}

<h2>View/Edit Events</h2>
@section SideBar{
    <nav id="sidebar" data-spy="affix" style="background-color:#151827">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active" id="AllEventsSideBarButton"><a href="#" onclick="SideBarClick(1)">All Events</a></li>
            <li class="" id="UserOwnedEventsSideBarButton"><a href="#" onclick="SideBarClick(2)">My Events</a></li>
            <li>
                <!-- Link with dropdown items -->
                @*<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                        </ul>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>*@
        </ul>
    </nav>}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="background-color:#333333; color:#fff;">
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxStaff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinStaff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.MaxStaff)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.MinStaff)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.FundCenter)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.User.LDAPName)
        </td>
        <td>
            @if (item.EnteredBy == @ViewBag.CurrentUser)
            {
                <div class="btn-group">
                @Html.ActionLink("Edit", "Edit", new { id = item.EventID }, new { @class = "btn-success btn-sm"})
                @Html.ActionLink("Delete", "Delete", new { id = item.EventID }, new { @class = "btn-success btn-sm" })
                @Html.ActionLink("Details", "Details", new { id = item.EventID }, new { @class = "btn-success btn-sm" })
                </div>
            }
            else
            {
                @Html.ActionLink("Details", "Details", new { id = item.EventID }, new { @class = "btn-success btn-sm" })
            }

        </td>
    </tr>
}

</table>
