@model IEnumerable<EventManager.Event>

@{
    ViewBag.Title = "Show All";
    Layout = "~/Views/Shared/_EventLayout.cshtml";

}

<h2>View/Edit Events</h2>
<p>
@section Sidebar{
    <nav id="sidebar" data-spy="affix" style="background-color:#151827; max-width:200px; min-height:100%">
    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li id="calendarSideBarButton"><a href="/home/Index" onclick="">Calendar View</a></li>
        <li>
            <a aria-expanded="false" class="active" href="#eventManagementSubMenu" data-toggle="collapse">List Views</a>
            <ul class="list-unstyled" id="eventManagementSubMenu">
                <li id="eventSideBarAll" class="active"><a href="/Events/Index">Show All</a></li>
                <li id="eventSideBarOwnedByUser"><a href="/Events/UserEvents">My Events</a></li>
                <li id="registrationsSideBarPending"><a href="#">Find</a></li>
                <li id="registrationsSideBarStandby"><a href="#">TBD</a></li>
                <li id="registrationsSideBarDeclined"><a href="#">TBD</a></li>
                <li id="registrationsSideBarDeleted"><a href="#">TBD</a></li>
            </ul>
    </ul>
</nav>}
<p>
    <a style="color:blue; text-decoration:underline; cursor:pointer" onclick="OpenAddEventForm()">Create New Event</a>
</p>
<div style="margin-right:50px">
    <table class="table">
        <tr style="background-color:#151827; color:#fff;">
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.MaxStaff)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.MinStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundCenter)
            </th>
            <th>
                Entered By
            </th>
            <th style="text-align:center">
                Options
            </th>
        </tr>
        @{
            var rowCount = 0;
        }

        @foreach (var item in Model)
        {
            var rowStyle = "";
            rowCount++;
            if (rowCount % 2 == 0)
            {
                rowStyle = "background-color:#c2bebe";
            }
            <tr style="@rowStyle">
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="vertical-align:middle; text-align:center">
                    @Html.DisplayFor(modelItem => item.MaxStaff)
                </td>
                <td style="vertical-align:middle; text-align:center">
                    @Html.DisplayFor(modelItem => item.MinStaff)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.FundCenter)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.User.LDAPName)
                </td>
                <td style="text-align:center">
                    @if (item.EnteredBy == @ViewBag.CurrentUser)
                    {

                        <div class="btn-group-sm">
                            <div class="btn-group" role="group">
                                <a style="color:blue; text-decoration:underline; cursor:pointer" onclick="OpenEditForm(@item.EventID)">View/Edit</a> |
                            </div>
                            <div class="btn-group" role="group">
                                <a style="color:blue; text-decoration:underline; cursor:pointer" onclick="DeleteEvent(@item.EventID)">Delete</a>
                            </div>
                        </div>

                    }
                    else
                    {
                        <a style="color:blue; text-decoration:underline; cursor:pointer" onclick="OpenViewForm(@item.EventID)">Details</a>
                    }

                </td>
            </tr>
        }

    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function(){
            updateTime();
        });
    
        function OpenViewForm(id) {
            var eventDetails = [];
            console.log("open form called with id: " + id);
            $.ajax({
                type: "GET",
                url: "/events/GetEventDetails",
                cache: false,
                data: { 'id': id },
                success: function (data) {
                    $('#hdEventID').val(data.EventID);
                    $('#hdEnteredBy').val(data.EnteredBy);
                    $('#txtEventName').val(data.EventName);
                    $('#txtStart').val(moment(data.StartTime).format("MM/DD/YYYY HH:mm"));
                    $('#txtEnd').val(moment(data.EndTime).format("MM/DD/YYYY HH:mm"));
                    $('#txtDescription').val(data.Description);
                    $('#txtminStaff').val(data.MinStaff);
                    $('#txtmaxStaff').val(data.MaxStaff);
                    $('#txtFundCenter').val(data.FundCenter);
                    $('#innerColorDiv').css('background-color', data.DisplayColor);
                    $('#eventColor').val(data.DisplayColor);
                    console.log(data);
                    $('#eventModal').modal();
                    $('#checkboxgroup').hide();
                    $('#repeatMenu').hide();
                    $('#eventModal :input').prop("disabled", true);
                    $('#btnSave').hide();
                    $('#btnClose').prop("disabled", false);


                },
                error: function (error) {
                    alert('Failed to find event');
                }
            })

        }
    </script>}
