@model IEnumerable<EventManager.Event>

@{
    ViewBag.Title = "UserEvents";

}

<h2>My Events</h2>
@section Sidebar{
    <nav id="sidebar" data-spy="affix" style="background-color:#151827; max-width:200px; min-height:100%">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li id="calendarSideBarButton"><a href="/home/Index" onclick="">Calendar View</a></li>
            <li>
                <a aria-expanded="false" class="active" href="#eventManagementSubMenu" data-toggle="collapse">List Views</a>
                <ul class="list-unstyled" id="eventManagementSubMenu">
                    <li id="eventSideBarAll"><a href="/Events/Index">Show All</a></li>
                    <li id="eventSideBarOwnedByUser" class="active"><a href="/Events/UserEvents">My Events</a></li>
                    <li id="registrationsSideBarPending"><a href="#">Find</a></li>
                    <li id="registrationsSideBarStandby"><a href="#">TBD</a></li>
                    <li id="registrationsSideBarDeclined"><a href="#">TBD</a></li>
                    <li id="registrationsSideBarDeleted"><a href="#">TBD</a></li>
                </ul>
        </ul>
    </nav>}
<p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="padding-right:50px">
    <table class="table">
        <thead>
            <tr style="background-color:#243e63; color:#fff;">
                <th>
                    @Html.DisplayNameFor(model => model.EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.MaxStaff)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.MinStaff)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FundCenter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnteredBy)
                </th>
                <th style="text-align:center">
                    Registrations
                </th>
                <th></th>
                <th style="text-align:center">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var rowCount = 0;
            }

            @foreach (var item in Model)
            {
                var rowStyle = "vertical-align:middle";
                rowCount++;
                if (rowCount % 2 == 0)
                {
                    rowStyle = rowStyle + "; background-color:#c2bebe";
                }
                <tr style="@rowStyle">
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.MaxStaff)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.MinStaff)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FundCenter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.LDAPName)
                    </td>
                    <td style="text-align:center">
                        @item.Registrations.Count
                    </td>
                    <td>
                        @if (item.Registrations.Count > 0)
                        {
                            var buttonID = "showRegistrationButton" + @item.EventID;
                            <button type="button" id="showRegistrationButton"
                                    class="btn btn-xs"
                                    onClick="ShowRegistrations(@item.EventID)"
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-placement="bottom"
                                    data-content="Show/Hide registrations"
                                    style="padding:0px; color:blue;">
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
                        }

                    </td>
                    <td>
                        <div class="btn-group-sm" style="text-align:center">
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.EventID }, new { @style = "color:blue; text-decoration:underline" }) |
                            </div>
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Delete", "Delete", new { id = item.EventID }, new { @style = "color:blue; text-decoration:underline" }) |
                            </div>
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Details", "Details", new { id = item.EventID }, new { @style = "color:blue; text-decoration:underline" })
                            </div>
                        </div>

                    </td>

                </tr>
                if (item.Registrations.Count > 0)
                {
                    var rowID = "registrationRow" + item.EventID;
                    <tr style="display:none" id="@rowID">
                        <td colspan="11" class="accordion-body" style="background-color:#d1e0f5; padding-left:20px; padding-right:5px;">
                            <table class="table table-condensed table-responsive" style="margin-bottom:1px; max-width:100%">
                                <thead>
                                    <tr style="background-color:#d1e0f5; color: #111018">
                                        <th>Timestamp</th>
                                        <th>Registrant Name</th>
                                        <th>Contact Number</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in item.Registrations)
                                    {
                                        var email = r.User.LDAPName + "@co.pg.md.us";
                                        var user = r.User.LTRank.RankShort + " " + r.User.FirstName + " " + r.User.LastName + " #" + r.User.IDNumber;
                                        <tr>
                                            <td>
                                                @r.TimeStamp.ToString("MM/dd/yy HH:mm:ss")
                                            </td>
                                            <td>
                                                @user
                                            </td>
                                            <td>
                                                @r.User.ContactNumber
                                            </td>
                                            <td>
                                                @email
                                            </td>


                                            <td>
                                                @r.Status
                                            </td>

                                        </tr>
                                    }




                                </tbody>
                            </table>
                        </td>
                    </tr>
                    @*<tr style="background-color:#294978; color:#fff">
                            <td colspan="2" style="background-color:lightgrey"></td>
                            <td colspan="7">
                                Current Registrations:
                            </td>
                        </tr>*@

                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        })

        function ShowRegistrations(id) {
            var rowName = "registrationRow" + id;
            if ($('#' + rowName).is(":visible")){
                $('#' + rowName).hide();
            }
            else {
                $('#' + rowName).show();
            }
                
        }
    </script>
}

