@model IEnumerable<EventManager.Event>

@{
    ViewBag.Title = "UserEvents";

}

<h2>My Events</h2>
@section Sidebar{
    <nav id="sidebar" data-spy="affix" style="background-color:#151827; max-width:200px; min-height:100%">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li id="calendarSideBarButton"><a href="/home/Index" onclick="">Calendar View</a></li>
            <li>
                <a aria-expanded="false" class="active" href="#eventManagementSubMenu" data-toggle="collapse">List Views</a>
                <ul class="list-unstyled" id="eventManagementSubMenu">
                    <li id="eventSideBarAll"><a href="/Events/Index">Show All</a></li>
                    <li id="eventSideBarOwnedByUser" class="active"><a href="/Events/UserEvents">My Events</a></li>
                    <li id="registrationsSideBarPending"><a href="#">Find</a></li>
                    <li id="registrationsSideBarStandby"><a href="#">TBD</a></li>
                    <li id="registrationsSideBarDeclined"><a href="#">TBD</a></li>
                    <li id="registrationsSideBarDeleted"><a href="#">TBD</a></li>
                </ul>
        </ul>
    </nav>}
<p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="padding-right:50px">
    <table class="table">
        <thead>
            <tr style="background-color:#151827; color:#fff;">
                <th>
                    Name
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
                <th style="text-align:center">
                    Hours
                </th>
                <th style="text-align:center">
                    Max
                </th>
                <th style="text-align:center">
                    Min
                </th>
                <th style="text-align:center">
                    Confirmed
                </th>
                <th style="text-align:center">
                    Registrations
                </th>
                <th></th>
                <th style="text-align:center">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var rowCount = 0;
            }

            @foreach (var item in Model)
            {
                var rowStyle = "";
                rowCount++;
                if (rowCount % 2 == 0)
                {
                    rowStyle = "background-color:#c2bebe";
                }
                var hours = (item.EndTime - item.StartTime).TotalHours;
                var confirmedRegs = 0;
                <tr style="@rowStyle">
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td style="text-align:center"
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="bottom"
                        data-content="Total Hours for Event">
                        @hours
                    </td>
                    <td style="text-align:center"                        
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="bottom"
                        data-content="Maximum Staffing for Event">
                        @Html.DisplayFor(modelItem => item.MaxStaff)
                    </td>
                    <td style="text-align:center"                        
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="bottom"
                        data-content="Minimum Staffing for Event">
                        @Html.DisplayFor(modelItem => item.MinStaff)
                    </td>
                    <td style="text-align:center"                        
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="bottom"
                        data-content="Total Confirmed Registrations">
                        @confirmedRegs
                    </td>
                    <td style="text-align:center"                        
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="bottom"
                        data-content="Total Registrations">
                        @item.Registrations.Count
                    </td>
                    <td>
                        @if (item.Registrations.Count > 0)
                        {
                            var buttonID = "showRegistrationButton" + @item.EventID;
                            <button type="button" id="showRegistrationButton"
                                    class="btn btn-xs"
                                    onClick="ShowRegistrations(@item.EventID)"
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-placement="bottom"
                                    data-content="Show/Hide registrations"
                                    style="padding:0px; color:blue;">
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
                        }

                    </td>
                    <td style="text-align:center">
                        <div class="btn-group-sm">
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.EventID }, new { @style = "color:blue; text-decoration:underline" }) |
                            </div>
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Delete", "Delete", new { id = item.EventID }, new { @style = "color:blue; text-decoration:underline" }) |
                            </div>
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Details", "Details", new { id = item.EventID }, new { @style = "color:blue; text-decoration:underline" })
                            </div>
                        </div>

                    </td>

                </tr>
                if (item.Registrations.Count > 0)
                {
                    
                    var rowID = "registrationRow" + item.EventID;
                    <tr style="display:none" id="@rowID">
                        <td colspan="11" class="accordion-body" style="background-color:#d1e0f5; padding-left:20px; padding-right:20px">
                            <table class="table table-condensed table-bordered table-responsive" style="margin-bottom:0px; max-width:100%">
                                <thead>
                                    <tr style="background-color:#284773; color: #fff">
                                        <th>Timestamp</th>
                                        <th>Registrant Name</th>
                                        <th>Contact Number</th>
                                        <th>Email</th>
                                        <th style="text-align:center">Hours/This Month</th>
                                        <th style="text-align:center">Last 30 Days</th>
                                        <th style="text-align:center">Last 90 Days</th>
                                        <th style="text-align:center">Status</th>
                                        <th style="text-align:center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in item.Registrations)
                                    {
                                        var email = r.User.LDAPName + "@co.pg.md.us";
                                        var user = r.User.LTRank.RankShort + " " + r.User.FirstName + " " + r.User.LastName + " #" + r.User.IDNumber;
                                        var hoursThisMonth = 0.0;
                                        var hoursLast30Days = 0.0;
                                        var hoursLast90Days = 0.0;
                                        if (r.Status == RegistrationStats.Confirmed)
                                        {
                                            confirmedRegs++;
                                        }
                                        foreach (var u in r.User.Registrations)
                                        {
                                            if (u.Status == RegistrationStats.Confirmed)
                                            {
                                                if (u.Event.StartTime.Month == DateTime.Now.Month && u.Event.StartTime.Year == DateTime.Now.Year)
                                                {
                                                    //add hours to "This month" user total
                                                    hoursThisMonth = hoursThisMonth + (u.Event.EndTime - u.Event.StartTime).TotalHours;
                                                }
                                                if (u.Event.StartTime >= DateTime.Now.AddDays(-30))
                                                {
                                                    //add hours to "Last 30 days" total
                                                    hoursLast30Days = hoursLast30Days + (u.Event.EndTime - u.Event.StartTime).TotalHours;
                                                }
                                                if (u.Event.StartTime >= DateTime.Now.AddDays(-90))
                                                {
                                                    //add hours to "Last 90 Days" total
                                                    hoursLast90Days = hoursLast90Days + (u.Event.EndTime - u.Event.StartTime).TotalHours;
                                                }
                                            }


                                        }
                                        <tr>
                                            <td>
                                                @r.TimeStamp.ToString("MM/dd/yy HH:mm:ss")
                                            </td>
                                            <td>
                                                @user
                                            </td>
                                            <td>
                                                @r.User.ContactNumber
                                            </td>
                                            <td>
                                                @email
                                            </td>
                                            <td style="text-align:center"                        
                                                data-toggle="popover"
                                                data-trigger="hover"
                                                data-placement="bottom"
                                                data-content="Total hours that this user has been awarded this month">
                                                @hoursThisMonth
                                            </td>
                                            <td style="text-align:center"                        
                                                data-toggle="popover"
                                                data-trigger="hover"
                                                data-placement="bottom"
                                                data-content="Total hours that this user has been awarded in the last 30 days">
                                                @hoursLast30Days
                                            </td>
                                            <td style="text-align:center"                        
                                                data-toggle="popover"
                                                data-trigger="hover"
                                                data-placement="bottom"
                                                data-content="Total hours that this user has been awarded in the last 90 days">
                                                @hoursLast90Days
                                            </td>
                                            <td style="text-align:center">
                                                @r.Status
                                            </td>
                                            <td style="text-align:center">
                                                <div class="btn-group-sm">
                                                    <div class="btn-group" role="group">
                                                        <a class="btn-xs" href="@("/Events/ConfirmRegistration/" + r.RegistrationID)"
                                                            style="text-align:center"                        
                                                            data-toggle="popover"
                                                            data-trigger="hover"
                                                            data-placement="bottom"
                                                            data-content="Confirm this registration">
                                                            <span class="glyphicon glyphicon-ok" style="color:green"></span>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group" role="group">
                                                        <a class="btn-xs" href="@("/Events/DeclineRegistration/" + r.RegistrationID)"
                                                            style="text-align:center"                        
                                                            data-toggle="popover"
                                                            data-trigger="hover"
                                                            data-placement="bottom"
                                                            data-content="Decline this registration">
                                                            <span class="glyphicon glyphicon-remove" style="color:red"></span>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group" role="group">
                                                        <a class="btn-xs" href="@("/Events/StandbyRegistration/" + r.RegistrationID)"
                                                            style="text-align:center"                        
                                                            data-toggle="popover"
                                                            data-trigger="hover"
                                                            data-placement="bottom"
                                                            data-content="Place this user on standby for this event">
                                                            <span class="glyphicon glyphicon-earphone" style="color:blue"></span>
                                                        </a>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                container: 'body'
            });
        })

        function ShowRegistrations(id) {
            var rowName = "registrationRow" + id;
            if ($('#' + rowName).is(":visible")){
                $('#' + rowName).hide();
            }
            else {
                $('#' + rowName).show();
            }
                
        }
    </script>
}

