@model IEnumerable<EventManager.Event>

@{
    Layout = "~/Views/Shared/_EventLayout.cshtml";
    ViewBag.Title = "User Events";

}

<h2>My Events</h2>

@section Sidebar{
    <nav id="sidebar" data-spy="affix" style="background-color:#151827; max-width:200px; min-height:100%">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li id="calendarSideBarButton"><a href="/home/Index" onclick="">Calendar View</a></li>
            <li>
                <a aria-expanded="false" class="active" href="#eventManagementSubMenu" data-toggle="collapse">List Views</a>
                <ul class="list-unstyled" id="eventManagementSubMenu">
                    <li id="eventSideBarAll"><a href="/Events/Index">Show All</a></li>
                    <li id="eventSideBarOwnedByUser" class="active"><a href="/Events/UserEvents">My Events</a></li>
                    <li id="registrationsSideBarPending"><a href="#">Find</a></li>
                    <li id="registrationsSideBarStandby"><a href="#">TBD</a></li>
                    <li id="registrationsSideBarDeclined"><a href="#">TBD</a></li>
                    <li id="registrationsSideBarDeleted"><a href="#">TBD</a></li>
                </ul>
        </ul>
    </nav>}
<p>
<p>
    <a style="color:blue; text-decoration:underline; cursor:pointer" onclick="OpenAddEventForm()">Create New Event</a>
</p>


<div style="padding-right:50px">
    <table class="table">
        <thead>
            <tr style="background-color:#151827; color:#fff;">
                <th>
                    Name
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
                <th style="text-align:center">
                    Hours
                </th>
                <th style="text-align:center">
                    Max
                </th>
                <th style="text-align:center">
                    Min
                </th>
                <th style="text-align:center">
                    Confirmed
                </th>
                <th style="text-align:center">
                    Registrations
                </th>
                <th></th>
                <th style="text-align:center">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var rowCount = 0;
            }

            @foreach (var item in Model)
            {
                var rowStyle = "";
                rowCount++;
                if (rowCount % 2 == 0)
                {
                    rowStyle = "background-color:#c2bebe";
                }
                var hours = (item.EndTime - item.StartTime).TotalHours;
                var confirmedRegs = 0;
                <tr style="@rowStyle">
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td style="text-align:center"
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="bottom"
                        data-content="Total Hours for Event">
                        @hours
                    </td>
                    <td style="text-align:center"                        
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="bottom"
                        data-content="Maximum Staffing for Event">
                        @Html.DisplayFor(modelItem => item.MaxStaff)
                    </td>
                    <td style="text-align:center"                        
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="bottom"
                        data-content="Minimum Staffing for Event">
                        @Html.DisplayFor(modelItem => item.MinStaff)
                    </td>
                    <td style="text-align:center"                        
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="bottom"
                        data-content="Total Confirmed Registrations">
                        @confirmedRegs
                    </td>
                    <td style="text-align:center"                        
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="bottom"
                        data-content="Total Registrations">
                        @item.Registrations.Count
                    </td>
                    <td>
                        @if (item.Registrations.Count > 0)
                        {
                            var buttonID = "showRegistrationButton" + @item.EventID;
                            <button type="button" id="@buttonID"
                                    class="btn btn-xs"
                                    onClick="ShowRegistrations(@item.EventID)"
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-placement="bottom"
                                    data-content="Show/Hide registrations"
                                    style="padding:0px; color:blue;">
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
                        }

                    </td>
                    <td style="text-align:center">
                        <div class="btn-group-sm">
                            <div class="btn-group" role="group">
                                <a style="color:blue; text-decoration:underline; cursor:pointer" onclick="OpenEditForm(@item.EventID)">View/Edit</a> |
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.EventID }, new { @style = "color:blue; text-decoration:underline" }) |*@
                            </div>
                            <div class="btn-group" role="group">
                                <a style="color:blue; text-decoration:underline; cursor:pointer" onclick="DeleteEvent(@item.EventID)">Delete</a>
                            </div>
                        </div>

                    </td>

                </tr>
                if (item.Registrations.Count > 0)
                {
                    
                    var rowID = "registrationRow" + item.EventID;
                    <tr style="display:none" id="@rowID">
                        <td colspan="11" class="accordion-body" style="background-color:#d1e0f5; padding-left:20px; padding-right:20px">
                            <table class="table table-condensed table-bordered table-responsive" id="@("regTable" + item.EventID)" style="margin-bottom:0px; max-width:100%">
                                <thead>
                                    <tr style="background-color:#284773; color: #fff">
                                        <th>Timestamp</th>
                                        <th>Registrant Name</th>
                                        <th>Contact Number</th>
                                        <th>Email</th>
                                        <th style="text-align:center">Hours/This Month</th>
                                        <th style="text-align:center">Last 30 Days</th>
                                        <th style="text-align:center">Last 90 Days</th>
                                        <th style="text-align:center">Status</th>
                                        <th style="text-align:center; 
                                                   border-top-width:3px; 
                                                   border-top-color:black; 
                                                   border-left-width:3px; 
                                                   border-left-color:black;
                                                   background-color:#3a75bf;
                                                   color:white">
                                                   Confirm
                                        </th>
                                        <th style="text-align:center; 
                                                   border-top-width:3px; 
                                                   border-top-color:black;
                                                   background-color:#3a75bf;
                                                   color:white">
                                                   Standby
                                        </th>
                                        <th style="text-align:center; 
                                                   border-top-width:3px; 
                                                   border-top-color:black; 
                                                   border-right-width:3px; 
                                                   border-right-color:black;
                                                   background-color:#3a75bf;
                                                   color:white">
                                                   Decline
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in item.Registrations)
                                    {
                                        var email = r.User.LDAPName + "@co.pg.md.us";
                                        var user = r.User.LTRank.RankShort + " " + r.User.FirstName + " " + r.User.LastName + " #" + r.User.IDNumber;
                                        var hoursThisMonth = 0.0;
                                        var hoursLast30Days = 0.0;
                                        var hoursLast90Days = 0.0;
                                        if (r.Status == RegistrationStats.Confirmed)
                                        {
                                            confirmedRegs++;
                                        }
                                        foreach (var u in r.User.Registrations)
                                        {
                                            if (u.Status == RegistrationStats.Confirmed)
                                            {
                                                if (u.Event.StartTime.Month == DateTime.Now.Month && u.Event.StartTime.Year == DateTime.Now.Year)
                                                {
                                                    //add hours to "This month" user total
                                                    hoursThisMonth = hoursThisMonth + (u.Event.EndTime - u.Event.StartTime).TotalHours;
                                                }
                                                if (u.Event.StartTime >= DateTime.Now.AddDays(-30))
                                                {
                                                    //add hours to "Last 30 days" total
                                                    hoursLast30Days = hoursLast30Days + (u.Event.EndTime - u.Event.StartTime).TotalHours;
                                                }
                                                if (u.Event.StartTime >= DateTime.Now.AddDays(-90))
                                                {
                                                    //add hours to "Last 90 Days" total
                                                    hoursLast90Days = hoursLast90Days + (u.Event.EndTime - u.Event.StartTime).TotalHours;
                                                }
                                            }


                                        }
                                        <tr id="@r.RegistrationID">
                                            <td>
                                                @r.TimeStamp.ToString("MM/dd/yy HH:mm:ss")
                                            </td>
                                            <td>
                                                @user
                                            </td>
                                            <td>
                                                @r.User.ContactNumber
                                            </td>
                                            <td>
                                                @email
                                            </td>
                                            <td style="text-align:center"
                                                id="@("MonthlyHours" + @r.RegistrationID)"                        
                                                data-toggle="popover"
                                                data-trigger="hover"
                                                data-placement="bottom"
                                                data-content="Total hours that this user has been awarded this month">
                                                @hoursThisMonth
                                            </td>
                                            <td style="text-align:center"
                                                id="@("Last30DayHours" + @r.RegistrationID)"                        
                                                data-toggle="popover"
                                                data-trigger="hover"
                                                data-placement="bottom"
                                                data-content="Total hours that this user has been awarded in the last 30 days">
                                                @hoursLast30Days
                                            </td>
                                            <td style="text-align:center"
                                                id="@("Last90DayHours" + @r.RegistrationID)"                        
                                                data-toggle="popover"
                                                data-trigger="hover"
                                                data-placement="bottom"
                                                data-content="Total hours that this user has been awarded in the last 90 days">
                                                @hoursLast90Days
                                            </td>
                                            @{ 
                                                var statusStyle = "text-align:center; font-weight:bold; ";
                                                switch (r.Status)
                                                {
                                                    case RegistrationStats.Confirmed:
                                                        statusStyle = statusStyle + "color:green";
                                                        break;
                                                    case RegistrationStats.Declined:
                                                        statusStyle = statusStyle + "color:red";
                                                        break;
                                                    case RegistrationStats.Standby:
                                                        statusStyle = statusStyle + "color:orange";
                                                        break;
                                                }
                                            }
                                            <td style="@statusStyle"
                                                class="statusrow"
                                                id="@("Status" + @r.RegistrationID)">@r.Status</td>                                               
                                            
                                            @switch (r.Status)
                                            {
                                                
                                                case RegistrationStats.Confirmed:

                                                    <td style="text-align:center; border-left-width:3px; border-left-color:black;">
                                                        <input type="checkbox" id="@("chkConfirm" + r.RegistrationID)" OnClick="ConfirmChecked(@r.RegistrationID, @r.EventID)" checked />
                                                    </td>
                                                    <td style="text-align:center">
                                                        <input type="checkbox" id="@("chkStandby" + r.RegistrationID)" OnClick="StandbyChecked(@r.RegistrationID, @r.EventID)"/>
                                                    </td>
                                                    <td style="text-align:center; border-right-width:3px; border-right-color:black;">
                                                        <input type="checkbox" id="@("chkDecline" + r.RegistrationID)" OnClick="DeclineChecked(@r.RegistrationID, @r.EventID)"/>
                                                    </td>
                                                    break;
                                                case RegistrationStats.Standby:
                                                    <td style="text-align:center; border-left-width:3px; border-left-color:black;">
                                                        <input type="checkbox" id="@("chkConfirm" + r.RegistrationID)" OnClick="ConfirmChecked(@r.RegistrationID, @r.EventID)"/>
                                                    </td>
                                                    <td style="text-align:center">
                                                        <input type="checkbox" id="@("chkStandby" + r.RegistrationID)" OnClick="StandbyChecked(@r.RegistrationID, @r.EventID)"checked/>
                                                    </td>
                                                    <td style="text-align:center; border-right-width:3px; border-right-color:black;">
                                                        <input type="checkbox" id="@("chkDecline" + r.RegistrationID)" OnClick="DeclineChecked(@r.RegistrationID, @r.EventID)"/>
                                                    </td>
                                                    break;
                                                case RegistrationStats.Declined:
                                                    <td style="text-align:center; border-left-width:3px; border-left-color:black;">
                                                        <input type="checkbox" id="@("chkConfirm" + r.RegistrationID)" OnClick="ConfirmChecked(@r.RegistrationID, @r.EventID)"/>
                                                    </td>
                                                    <td style="text-align:center">
                                                        <input type="checkbox" id="@("chkStandby" + r.RegistrationID)" OnClick="StandbyChecked(@r.RegistrationID, @r.EventID)"/>
                                                    </td>
                                                    <td style="text-align:center; border-right-width:3px; border-right-color:black;">
                                                        <input type="checkbox" id="@("chkDecline" + r.RegistrationID)" OnClick="DeclineChecked(@r.RegistrationID, @r.EventID)"checked/>
                                                    </td>
                                                    break;
                                                default:
                                                    <td style="text-align:center; border-left-width:3px; border-left-color:black;">
                                                        <input type="checkbox" id="@("chkConfirm" + r.RegistrationID)" OnClick="ConfirmChecked(@r.RegistrationID, @r.EventID)" />
                                                    </td>
                                                    <td style="text-align:center">
                                                        <input type="checkbox" id="@("chkStandby" + r.RegistrationID)" OnClick="StandbyChecked(@r.RegistrationID, @r.EventID)" />
                                                    </td>
                                                    <td style="text-align:center; border-right-width:3px; border-right-color:black;">
                                                        <input type="checkbox" id="@("chkDecline" + r.RegistrationID)" OnClick="DeclineChecked(@r.RegistrationID, @r.EventID)" />
                                                    </td>
                                                    break;
                                            }

                                        </tr>
                                    }    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8" style="background-color:#d1e0f5"></td>
                                        <td colspan="3" style="text-align:center; 
                                                        border-right-width:3px; 
                                                        border-right-color:black; 
                                                        border-left-width:3px; 
                                                        border-left-color:black; 
                                                        border-bottom-width:3px; 
                                                        border-bottom-color:black;"
                                                        >
                                            <button type="button" id="@("submitButton" + item.EventID)" onclick="SubmitClick(@item.EventID)" class="btn-xs btn-success" style="width:100%; display:none">
                                                Submit Changes
                                            </button>
                                        </td>                                                                            
                                    </tr>
                                </tfoot>
                            </table>
                            
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
    
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@section Scripts{
<script>
        

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                container: 'body'
            });
            

        })
        function SubmitClick(id) {
            var results = [];
            var targetTableName = "regTable" + id;
            var buttonName = "submitButton" + id;
            $('#' + targetTableName + " tr").not(':first').not(':last').each(function () {
                var regID = $(this).attr('id');
                var stat = $(this).find('.statusrow').text();
                var registration = {
                    id: parseInt(regID),
                    status: stat
                };

                results.push(registration);
            })
            if (results.length > 0) {

                registrationsList = JSON.stringify({ 'regList': results });
                console.log(results);
                //call Ajax post here
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    type: "POST",
                    dataType: 'json',
                    url: "/Events/UpdateRegistrations",
                    data: registrationsList,
                    success: function (data) {
                        if (data) {
                            //Rerender view
                            alert('Registrations updated successfully');
                            $('#' + buttonName).hide();
                            buttonFlag = false;
                        }
                    },
                    error: function () {
                        alert('Registrations failed');
                    }
                })
            }
        }
        function ConfirmChecked(regID, eventID){
            var confirmName = "chkConfirm" + regID;
            var standbyName = "chkStandby" + regID;
            var declinedName = "chkDecline" + regID;
            var statusBoxName = "Status" + regID;
            var buttonName = "submitButton" + eventID;
            $('#' + buttonName).show();
            buttonFlag = true;
            if ($('#' + confirmName).is(':checked')){
                $('#' + standbyName).prop('checked', false);
                $('#' + declinedName).prop('checked', false);
                $('#' + statusBoxName).text('Confirmed');
                $('#' + statusBoxName).css({'color':'green','font-weight':'bold'});

            }
        }
        function StandbyChecked(regID, eventID){
            var confirmName = "chkConfirm" + regID;
            var standbyName = "chkStandby" + regID;
            var declinedName = "chkDecline" + regID;
            var statusBoxName = "Status" + regID;
            var buttonName = "submitButton" + eventID;
            $('#' + buttonName).show();
            buttonFlag = true;
            if ($('#' + standbyName).is(':checked')){
                $('#' + confirmName).prop('checked', false);
                $('#' + declinedName).prop('checked', false);
                $('#' + statusBoxName).text('Standby');
                $('#' + statusBoxName).css({ 'color': 'Orange', 'font-weight': 'bold' });
            }
        }
        function DeclineChecked(regID, eventID){
            var confirmName = "chkConfirm" + regID;
            var standbyName = "chkStandby" + regID;
            var declinedName = "chkDecline" + regID;
            var statusBoxName = "Status" + regID;
            var buttonName = "submitButton" + eventID;
            $('#' + buttonName).show();
            buttonFlag = true;
            if ($('#' + declinedName).is(':checked')){
                $('#' + standbyName).prop('checked', false);
                $('#' + confirmName).prop('checked', false);
                $('#' + statusBoxName).text('Declined');
                $('#' + statusBoxName).css({ 'color': 'red', 'font-weight': 'bold' });
            }
        }




        function ShowRegistrations(id) {
            var rowName = "registrationRow" + id;
            if ($('#' + rowName).is(":visible")){
                $('#' + rowName).hide();
            }
            else {
                $('#' + rowName).show();
            }

        }
</script>
}

