<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Events</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/tinycolorpicker.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body id="page container" style="height:100%">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" style="border-bottom:solid; border-bottom-width:1px; border-bottom-color:#ef6c00">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Event Manager", "Index", "Landing", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="pull-left">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Landing")</li>
                        <li>@Html.ActionLink("Manage Events", "CalendarView", "Events")</li>
                        <li>@Html.ActionLink("View/Register for Events", "AvailableEvents", "UserEventRegistration")</li>
                        <li>@Html.ActionLink("View My Registrations", "Registrations", "UserEventRegistration")</li>
                    </ul>
                </div>
                <div class="col-sm-3 text-right pull-right" style="color: #fff; display:inline-block; height:50px; line-height:50px">
                    <span style="padding-right:20px">@Html.ActionLink(Context.User.Identity.Name.Substring(Context.User.Identity.Name.LastIndexOf(@"\") + 1), "Index", "UserInfo")</span>
                    <img src="@Url.Content("~/Resources/Images/Seal.png")" width="30" height="40" style="vertical-align:middle" />
                    <img src="@Url.Content("~/Resources/Images/SOD.png")" width="40" height="40" style="vertical-align:middle" />

                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="footerbar">
        <div class="container-fluid" style="border-top:solid; border-top-width:1px; border-top-color:#ef6c00">
                <div class="col-sm-6 text-left pull-left" style="color:#fff; display:inline-block; height:50px; line-height:50px">
                    <span>
                        <a>Server Message: </a><a id="messageText">Welcome!</a>
                    </span>
                </div>
            <div class="navbar-collapse collapse">
                <div class="col-sm-3 text-right pull-left" style="color:#fff; display:inline-block; height:50px; line-height:50px">

                </div>
                <div class="col-sm-3 text-right pull-right" style="color:#fff; display:inline-block; height:50px; line-height:50px">
                    <span>
                        <a id="currentTime"></a>
                    </span>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height:100%">
        <div class="row row-offcanvas row-offcanvas-left" style="height:100%">
            <div class="col-xs-2" style="height:100%">
                @RenderSection("SideBar", required: false)
            </div>
            <div class="container body-content col-xs-10" style="max-width:100%">
                <div id="eventModal" class="modal fade" role="dialog" style="max-height:100%">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="color:#fff;border-top-left-radius:4px; border-top-right-radius:4px; background-color:#1d2e4a;">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add/Edit Event</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="hidden" id="hdEventID" value="0" />
                                    <input type="hidden" id="hdEnteredBy" value="1" />
                                    <div class="row form-inline" style="width:100%; margin-bottom:10px">
                                        <div class="form-group col-xs-4">
                                            <label>Event Name</label>
                                            <input type="text" id="txtEventName" class="form-control" style="max-width:100%" />
                                        </div>
                                        <div class="form-group col-xs-3">
                                            <label>Start Time:</label>
                                            <div class="input-group date" id="dtp1">
                                                <input type="text" id="txtStart" class="form-control" style="max-width:250px" />
                                                <span class="input-group-addon" style="width:auto">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-3">
                                            <label>End Time:</label>
                                            <div class="input-group date" id="dtp2">
                                                <input type="text" id="txtEnd" class="form-control" style="max-width:250px" />
                                                <span class="input-group-addon" style="width:auto">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-2">
                                            <label>Hours:</label>
                                            <div class="input-group date">
                                                <input type="text" id="txtHoursCalculated" class="form-control" style="max-width:200px; text-align:center" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-inline" style="width:100%; margin-bottom:10px">
                                        <div class="form-group col-xs-12">
                                            <label>Description</label>
                                            <textarea id="txtDescription" rows="3" class="form-control" style="max-width:100%"></textarea>
                                        </div>
                                    </div>
                                    <div class="row form-inline" style="width:100%; margin-bottom:10px">
                                        <div class="form-group col-xs-2">
                                            <label>Minimum Staffing</label>
                                            <input type="number" id="txtminStaff" value="1" min="1" max="50" class="form-control" style="max-width:100px" required />
                                        </div>
                                        <div class="form-group col-xs-2">
                                            <label>Maximum Staffing</label>
                                            <input type="number" id="txtmaxStaff" value="1" min="1" max="50" class="form-control" style="max-width:100px" required />
                                        </div>
                                        <div class="form-group col-xs-4">
                                            <label>Fund Center:</label>
                                            <input type="text" id="txtFundCenter" class="form-control" />
                                        </div>
                                        <div class="form-group col-xs-4">
                                            <label>Display Color:</label>
                                            <div id="colorPicker" style="text-align:center">
                                                <a class="color"><div class="colorInner" id="innerColorDiv"></div></a>
                                                <div class="track"></div>
                                                <ul class="dropdown"><li></li></ul>
                                                <input type="hidden" class="colorInput" id="eventColor">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="form-group" id="checkboxgroup" style="display:none">
                                    <label><input type="checkbox" value="" id="chkRepeat"> Repeat this event</label>
                                </div>
                                <div id="repeatMenu" class="well row form-inline col-xs-12" style="display: none; border:solid; width:100%; margin-left:0px">
                                    <div class="form-group col-xs-4">
                                        <label>Repeats:</label>
                                        <select class="form-control" id="cboRepeat">
                                            <option value="1">Daily</option>
                                            <option value="2">Every weekday (Monday to Friday)</option>
                                            <option value="3">Weekly</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-xs-3" id="dayRepeat">
                                        <label>Repeat for how many days?</label>
                                        <select class="form-control" id="repeatDayInterval" style="max-width:70px">
                                            <option value="1" selected="selected">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                        </select>
                                        <label> days</label>
                                    </div>
                                    <div id="weekRepeat" class="form-horizontal" style="display: none">
                                        <div class="form-group col-xs-3">
                                            <label>Repeat for how many weeks?</label>
                                            <select id="repeatWeekInterval" class="form-control" style="max-width:70px">
                                                <option value="1" selected="selected">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                            <label> weeks</label>
                                        </div>
                                        <div class="form-group col-xs-5">
                                            <label>Select Days:</label>
                                            <div class="form-inline">
                                                <label class="checkbox-inline"><input type="checkbox" id="chkSun" value="1">S</label>
                                                <label class="checkbox-inline"><input type="checkbox" id="chkMon" value="2">M</label>
                                                <label class="checkbox-inline"><input type="checkbox" id="chkTue" value="3">T</label>
                                                <label class="checkbox-inline"><input type="checkbox" id="chkWed" value="4">W</label>
                                                <label class="checkbox-inline"><input type="checkbox" id="chkThu" value="5">T</label>
                                                <label class="checkbox-inline"><input type="checkbox" id="chkFri" value="6">F</label>
                                                <label class="checkbox-inline"><input type="checkbox" id="chkSat" value="7">S</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group" id="startsOnDate">
                                        <label>Starts On:</label>
                                        <input type="date" class="form-control" id="txtRepeatStartDate" />
                                    </div>
                                    <div class="form-group" id="endsOnDate" style="display: none">
                                        <label>Ends On:</label>
                                        <input type="date" class="form-control" id="txtRepeatEndDate" />
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnSave" onclick="SubmitData()" class="btn-success btn">Save</button>
                                <button type="button" id="btnClose" class="btn-danger btn" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

                @RenderBody()
            </div>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tinycolorpicker.min.js"></script>
    @RenderSection("Scripts", false)
    <script>
        var $box = $("#colorPicker");
        $box.tinycolorpicker();
        var box = $box.data("plugin_tinycolorpicker");
        $box.bind("change", function () {
            $('#eventColor').val(box.colorHex);
        });
        function updateTime() {
            var d = new Date();
            $('#currentTime').text(moment(d).format("MM/DD/YYYY HH:mm"));
        }
        setInterval(updateTime, 60 * 1000);
        var pageName = '@ViewBag.Title'        
        function OpenEditForm(id) {
            var eventDetails = [];

            console.log("open form called with id: " + id);
            $.ajax({
                type: "GET",
                url: "/Events/GetEventDetails",
                cache: false,
                data: { 'id': id },
                success: function (data) {
                    var start = moment(data.StartTime);
                    var end = moment(data.EndTime);
                    var duration = moment.duration(end.diff(start)); 
                    $('#hdEventID').val(data.EventID);
                    $('#hdEnteredBy').val(data.EnteredBy);
                    $('#txtEventName').val(data.EventName);
                    $('#txtStart').val(moment(data.StartTime).format("MM/DD/YYYY HH:mm"));
                    $('#txtEnd').val(moment(data.EndTime).format("MM/DD/YYYY HH:mm"));
                    $('#txtDescription').val(data.Description);
                    $('#txtminStaff').val(data.MinStaff);
                    $('#txtmaxStaff').val(data.MaxStaff);
                    $('#txtFundCenter').val(data.FundCenter);
                    $('#innerColorDiv').css('background-color', data.DisplayColor);
                    $('#eventColor').val(data.DisplayColor);
                    $('#txtHoursCalculated').val(GetDuration(data.StartTime, data.EndTime));
                    $('#eventModal').modal();
                    $('#checkboxgroup').hide();
                    $('#repeatMenu').hide();
                    $('#eventModal :input').prop("disabled", false);
                    $('#btnSave').show();



                },
                error: function (error) {
                    alert('Failed to find event');
                }
            })

        }
        function GetDuration(i, v) {
            var duration = 0.0;
            var start = moment(i);
            var end = moment(v);
            var minutes = moment.duration(end.diff(start)).asMinutes();
            duration = (minutes / 60).toFixed(2);
            return duration;
        }
        $('#txtHoursCalculated').change(function () {
            
            if (this.value <= 0.0) {
                $(this).css({ 'background-color': '#ff6666' });
            }
            else if (this.value >= 10.0 && this.value < 12.0) {
                $(this).css({ 'background-color': 'yellow' });
            }
            else if (this.value >= 12.0) {
                $(this).css({ 'background-color': 'orange' });
            }
            else {
                $(this).css({ 'background-color': '#fff' });
            }
        })
        function SaveEvent(eventData) {
            $.ajax({
                type: "POST",
                url: "/Events/SaveEvent",
                data: eventData,
                success: function (data) {
                    $('#messageText').text(data.message);
                    Reloader();
                },
                error: function () {
                    $('#messageText').text("Could not edit the event.");
                }
            })
        }
        function DeleteEvent(id) {
            if (id != null && confirm('Delete this event?')) {
                $.ajax({
                    type: "POST",
                    url: "/Events/DeleteEvent",
                    data: { 'eventID': id },
                    success: function (data) {
                        $('#messageText').text(data.message);
                        Reloader();
                    },
                    error: function () {
                        alert('Could not delete the selected event.');
                    }
                })
            }
        }
        function Reloader() {
            switch (pageName) {
                case "Calendar View":
                    $('#eventModal').modal('hide');
                    FetchEventAndRenderCalendar();
                    break;
                default:
                    window.location.reload();
            }
        }
        
        function OpenAddEventForm() {
            $('#eventModal').modal();
            $('#eventModal :input').prop("disabled", false);
            $('#btnSave').show();
            $('#checkboxgroup').show();
        }

        function RecalculateDuration() {
            var start = $('#txtStart').val().trim();
            var end = $('#txtEnd').val().trim();
            console.log("Recalculate Duration reports: Start: " + start + ", End: " + end);

            if (start != "" && end != "") {
                
                $('#txtHoursCalculated').val(GetDuration(start, end));
                $('#txtHoursCalculated').trigger('change');
            }
        }

        $('#eventModal').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();
            $('#innerColorDiv').css('background-color', '#ffffff');
            $('#txtHoursCalculated').css('background-color', '#fff')
        });

        $('#chkRepeat').change(function () {
            if (this.checked) {
                $('#repeatMenu').show();
            }
            else {
                $('#repeatMenu').hide();
            }
        })
        $('#cboRepeat').on('change', function () {
            switch (this.value) {
                case '1':
                    $('#dayRepeat').show();
                    $('#startsOnDate').show();
                    $('#weekdayRepeat').hide();
                    $('#weekRepeat').hide();
                    $('#endsOnDate').hide();
                    break;
                case '2':
                    $('#dayRepeat').hide();
                    $('#startsOnDate').show();
                    $('#weekdayRepeat').show();
                    $('#weekRepeat').hide();
                    $('#endsOnDate').show();
                    break;
                case '3':
                    $('#dayRepeat').hide();
                    $('#startsOnDate').hide();
                    $('#weekdayRepeat').hide();
                    $('#weekRepeat').show();
                    $('#endsOnDate').hide();
                    break;
            }
        })
        function SubmitData() {
            var validated = ValidateForm();
            if (!validated) {
                return;
            }

            //Begin repeat selection data
            var daysOfWeek = [];
            var repeatNumber;
            if ($('#chkRepeat').is(':checked')) {
                switch ($('#cboRepeat').val()) {
                    case '1':
                        repeatNumber = $('#repeatDayInterval').val();
                        break;
                    case '2':

                        break;
                    case '3':
                        repeatNumber = $('#repeatWeekInterval').val();
                        if ($('#chkSun').prop('checked') == true) {
                            daysOfWeek.push(1);
                        }
                        if ($('#chkMon').prop('checked') == true) {
                            daysOfWeek.push(2);
                        }
                        if ($('#chkTue').prop('checked') == true) {
                            daysOfWeek.push(3);
                        }
                        if ($('#chkWed').prop('checked') == true) {
                            daysOfWeek.push(4);
                        }
                        if ($('#chkThu').prop('checked') == true) {
                            daysOfWeek.push(5);
                        }
                        if ($('#chkFri').prop('checked') == true) {
                            daysOfWeek.push(6);
                        }
                        if ($('#chkSat').prop('checked') == true) {
                            daysOfWeek.push(7);
                        }
                        break;
                }
                console.log("Creating Repeater eventData");
                var eventData = {
                    EventID: $('#hdEventID').val(),
                    EventName: $('#txtEventName').val(),
                    StartTime: $('#txtStart').val(),
                    EndTime: $('#txtEnd').val(),
                    Description: $('#txtDescription').val(),
                    MinStaff: $('#txtminStaff').val(),
                    MaxStaff: $('#txtmaxStaff').val(),
                    FundCenter: $('#txtFundCenter').val(),
                    EnteredBy: 0,
                    DisplayColor: $('#eventColor').val(),
                    repeatType: $('#cboRepeat').val(),
                    startDate: $('#txtRepeatStartDate').val(),
                    endDate: $('#txtRepeatEndDate').val(),
                    dow: daysOfWeek,
                    repeatCount: repeatNumber
                }
                console.log(eventData);
            }
            else {


                var eventData = {
                    EventID: $('#hdEventID').val(),
                    EventName: $('#txtEventName').val(),
                    StartTime: $('#txtStart').val(),
                    EndTime: $('#txtEnd').val(),
                    Description: $('#txtDescription').val(),
                    MinStaff: $('#txtminStaff').val(),
                    MaxStaff: $('#txtmaxStaff').val(),
                    FundCenter: $('#txtFundCenter').val(),
                    EnteredBy: 0,
                    DisplayColor: $('#eventColor').val(),
                }
            }

            SaveEvent(eventData);

        }
        function ValidateForm() {
            //Blank Checks
            if ($('#txtEventName').val().trim() == "") {
                alert('An event name is required');
                return false;
            }
            if ($('#txtStart').val().trim() == "") {
                alert('A start date/time is required');
                return false;
            }
            if ($('#txtEnd').val().trim() == "") {
                alert('An end date/time is required');
                return false;
            }
            if ($('#txtminStaff').val().trim() == "") {
                alert('Minimum staffing is required');
                return false;
            }
            if ($('#txtmaxStaff').val().trim() == "") {
                alert('Maximum staffing is required');
                return false;
            }
            if ($('#txtFundCenter').val().trim() == "") {
                alert('Fund Center is Required');
                return false;
            }
            if ($('#chkRepeat').prop('checked')) {
                switch ($('#cboRepeat').val()) {
                    case "1":
                        if ($('#txtRepeatStartDate').val().trim() == "") {
                            alert('To repeat this event daily, you must provide a start date.');
                            return false;

                        }
                        break;
                    case "2":
                        if ($('#txtRepeatStartDate').val().trim() == "") {
                            alert('To repeat this event every weekday, you must provide a start date.');
                            return false;

                        }
                        if ($('#txtRepeatEndDate').val().trim() == "") {
                            alert('To repeat this event every weekday, you must provide an end date.');
                            return false;

                        }
                        break;
                    case "3":
                        //if ($('#txtRepeatStartDate').val().trim() == "") {
                        //    alert('To repeat this event weekly, you must provide a start date.');
                        //    return false;
                        //    break;
                        //}
                        //if ($('#txtRepeatEndDate').val().trim() == "") {
                        //    alert('To repeat this event weekly, you must provide an end date.');
                        //    return false;
                        //}
                        if ($('#chkSun').prop('checked') == false &&
                            $('#chkMon').prop('checked') == false &&
                            $('#chkTue').prop('checked') == false &&
                            $('#chkWed').prop('checked') == false &&
                            $('#chkThu').prop('checked') == false &&
                            $('#chkFri').prop('checked') == false &&
                            $('#chkSat').prop('checked') == false) {

                            alert("To repeat this event weekly, you must select at least one day of the week");
                            return false;
                        }
                }//end switch $('#cboRepeat').val()
            }
            else {
                var startDate = new Date(); 
                var endDate = new Date();
                startDate = moment($('#txtStart').val()).toDate();
                endDate = moment($('#txtEnd').val()).toDate();
                if (startDate > endDate) {
                    console.log("Start Date is: " + startDate + "/End Date is: " + endDate + "/dt1 is: " + dt1 + "/dt2 is: " + dt2);
                    alert('Invalid end date/time');
                    return false;
                }
            }

            //All checks passed
            return true;
        }
        $('#dtp1, #dtp2').datetimepicker({
            format: 'MM/DD/YYYY HH:mm',
            sideBySide: true,
            showClose: true
        }).on('dp.change', function (e) {
            RecalculateDuration();
        });
    </script>    
</body>
</html>