<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PGPD Event Management</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
</head>
<body id="page container" style="height:100%">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" style="border-bottom:solid; border-bottom-width:1px; border-bottom-color:#ef6c00">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Event Manager", "Index", "Landing", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="pull-left">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Landing")</li>
                        <li>@Html.ActionLink("Manage Events", "Index", "Home")</li>
                        <li>@Html.ActionLink("View/Register for Events", "AvailableEvents", "UserEventRegistration")</li>
                        <li>@Html.ActionLink("View My Registrations", "Registrations", "UserEventRegistration")</li>
                    </ul>
                </div>
                <div class="col-sm-3 text-right pull-right" style="color: #fff; display:inline-block; height:50px; line-height:50px">
                    <span style="padding-right:20px">@Html.ActionLink(Context.User.Identity.Name.Substring(Context.User.Identity.Name.LastIndexOf(@"\") + 1), "Index", "UserInfo")</span>


                    <img src="@Url.Content("~/Resources/Images/Seal.png")" width="30" height="40" style="vertical-align:middle" />
                    <img src="@Url.Content("~/Resources/Images/SOD.png")" width="40" height="40" style="vertical-align:middle" />
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="footerbar">
        <div class="container-fluid" style="border-top:solid; border-top-width:1px; border-top-color:#ef6c00">
            <div class="col-sm-6 text-left pull-left" style="color:#fff; display:inline-block; height:50px; line-height:50px">
                <span>
                    <a>Server Message: </a><a id="messageText">Welcome!</a>
                </span>
            </div>
            <div class="navbar-collapse collapse">
                <div class="col-sm-3 text-right pull-right" style="color:#fff; display:inline-block; height:50px; line-height:50px">
                    <span>
                        <a id="currentTime"></a>
                    </span>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="height:100%">
        <div class="row row-offcanvas row-offcanvas-left" style="height:100%">
            <div class="col-xs-2" style="height:100%">
                @RenderSection("SideBar", required: false)
                @*<nav id="sidebar" data-spy="affix">
                        <!-- Sidebar Links -->
                        <ul class="list-unstyled components">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li>
                                <!-- Link with dropdown items -->
                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu">
                                    <li><a href="#">Page</a></li>
                                    <li><a href="#">Page</a></li>
                                    <li><a href="#">Page</a></li>
                                </ul>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>*@
            </div>

            <div class="container body-content col-xs-10" style="max-width:100%">
                @RenderBody()
            </div>

        </div>
    </div>


    @RenderSection("Scripts", false)
    <script>
        function updateTime() {
            var d = new Date();
            $('#currentTime').text(moment(d).format("MM/DD/YYYY HH:mm"));
        }
        setInterval(updateTime, 60 * 1000);

        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
        

    </script>
</body>
</html>